

/* Mission Heading Styles */
.mission-heading {
    text-align: center;
  }
  


/* Add media query for smaller screens (e.g., tablets and mobiles) */
@media (max-width: 768px) {
    section {
        padding: 1rem;
    }

    .d-grid {
        grid-template-columns: 1fr;
        /* Change to a single column layout for mobile */
        gap: 0rem;
    }
}