/* Programas.css */

.btn-group-vertical {
  position: sticky;
  top: 200px; /* Ajusta el valor para la distancia desde la parte superior */
}

.program-button {
  width: 100%;
  border-radius: 0;
  margin-bottom: 10px;
}

.program-button.active {
  background-color: #ec141ff2;
}

/* Estilos para la paginación */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.page-item {
  margin: 0 2px;
}

.page-link {
  padding: 8px 12px;
  color: #333;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.page-link:hover {
  background-color: #f5f5f5;
}

.page-link:focus {
  outline: none;
}

.page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.page-item.disabled .page-link {
  color: #aaa;
  pointer-events: none;
}
