/* Programas.css */

.btn-group-vertical {
  position: sticky;
  top: 200px; /* Ajusta el valor para la distancia desde la parte superior */
}

.program-button {
  width: 100%;
  border-radius: 0;
  background-color: var(--enlace-color);
  border: var(--enlace-color);
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.program-button.active {
  background-color: var(--resaltar-color);
  border: var(--resaltar-color);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  overflow: hidden;
}

/* Efecto de carga utilizando una animación de transición */
.program-button.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  animation: loading 2s linear infinite;
}

@keyframes loading {
  100% {
    left: 100%;
  }
}

.search-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center; /* Añade esta línea para centrar horizontalmente */

}

.input-group {
  width:100%;
  border: 1px solid #d7dce1;
  border-radius: 0;
  
}

.input-group-text {
  background-color: #007bff;
  color: #fff;
}

.input-group-addon {
  padding: 0;
  border: none;
}

.input-group-text {
  background-color: #a3071d;
  border-color: #a3071d;
  color: #fff;
  border-radius: 0; 
}

.form-control {
  border-right: none;
  border-radius: 0;
  border: 1px solid #a3071d;
}

.form-control:focus {
  box-shadow: none;
}

/* Estilos para la paginación */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.page-item {
  margin: 0 2px;
}

.page-link {
  padding: 8px 12px;
  color: #333;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.page-link:hover {
  background-color: #f5f5f5;
}

.page-link:focus {
  outline: none;
}

.page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.page-item.disabled .page-link {
  color: #aaa;
  pointer-events: none;
}

.dark-mode .card {
  background-color: transparent;
}
.dark-card-container{
  box-shadow: 0  4px 8px rgba(249, 244, 244, 0.08) !important;
}
.dark-card-text{
  color: #fff !important;
}
.dark-p{
  color: #fff !important;
}
.dark-button-ver-mas{
  background: #a3071d;
}
.dark-card-title{
  color: #a3071d !important;
}