/* General Styles */

  
  h2 {
    margin-top: 2rem; /* Slightly reduce the top margin */
    font-family: "Open Sans", sans-serif;
    color: var(--azul);
    font-weight: bold;
    font-size: 24px; /* Slightly increase the font size */
  }
  
  p {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px; /* Slightly increase the font size */
    line-height: 1.6; /* Add line-height for better readability */
    text-align: justify;
    color: #333333;
  }
  
  span {
    color: var(--black);
  }
  
  /* Container Styles */
  section {
    padding: 2rem;
    max-width: 1200px; /* Set a maximum width for the section */
    margin: 0 auto; /* Center the section on the page */
  }
  
  .d-grid {
    display: grid; /* Use CSS Grid for better responsiveness */
    gap: 3.5rem; /* Reduce the gap between grid items */
    grid-template-columns: 1fr 1fr; /* Two columns layout for desktop */
  }
  
  .imagenHistoria {
    max-width: 100%;
    height: auto;
    background-size: cover;
    object-fit: cover; /* Use object-fit for image sizing */
  }
  
  /* Add media query for smaller screens (e.g., tablets and mobiles) */
  @media (max-width: 768px) {
    section {
      padding: 1rem;
    }
  
    .d-grid {
      grid-template-columns: 1fr; /* Change to a single column layout for mobile */
      gap: 0rem;
    }
  
    .imagenHistoria {
      margin-top: 0rem;
    }
  }
  