  section {
    padding: 2rem;
    max-width: 1200px;
    /* Set a maximum width for the section */
    margin: 0 auto;
    /* Center the section on the page */
  }

  .d-grid {
    display: grid;
    /* Use CSS Grid for better responsiveness */
    gap: 4rem;
    /* Reduce the gap between grid items */
    grid-template-columns: 1fr 1fr;
    /* Two columns layout for desktop */
  }

  .bg-gris {
    background-color: #f7f7f7;
    padding: 1.5rem;
  }

  .imagenHistoria {
    max-width: 100%;
    height: auto;
  }

  /* Add media query for smaller screens (e.g., tablets and mobiles) */
  @media (max-width: 768px) {
    section {
      padding: 1rem;
    }

    .d-grid {
      grid-template-columns: 1fr;
      /* Change to a single column layout for mobile */
      gap: 0rem;
    }

    .imagenHistoria {
      margin-top: 0rem;
    }
  }