.tab-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #0b0b0b;
  font-size: 18px;
  padding: 8px;
  width: 100%;
  text-align: left;
  outline: none;
  margin: 2px;
  background-color: rgb(181, 177, 177);
  border-radius: 5px;
  
}

.tab-button.active {
  background-color: #1e90ff;
  font-weight: bold;
}

.tab-content {
  margin-top: 10px;
  padding-left: 20px;
}
