.title {
  font-family: "Nike Futura", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  color: #00233f;
  font-stretch: 100%;

  /* Neumorphic effect */
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  /* Optional: Add some rounded corners to soften the effect */
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  /* Optional: Add some padding to create a 3D look */

}

/* Define a keyframe animation for the professional effect */
@keyframes professionalEffect {
  0% {
    color: #f02a22;
    /* Start with black color */
  }

  50% {
    color: #d50000;
    /* Change to dark blue (#1a1a1a) color at 50% of the animation */
  }

  100% {
    color: #f02a22;
    /* Go back to black color at the end of the animation */
  }
}

/* Apply the animation to the .resaltar class */
.text-gratuito {
  font-weight: 900;
  animation: professionalEffect 2s infinite;
  /* Set the animation duration and repeat infinitely */

}

.resaltar {
  color: #fc9a13;
}

u {
  color: #007bff;
}

a {
  font-family: "HelveticaNeue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  text-decoration: none solid rgb(255, 255, 255);
  color: #007bff;
  cursor: "pointer";
  font-stretch: 100%;
}



.input-group {
  margin-bottom: 20px;
}

.header-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 250px;
  padding: 10px;
}

.header-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(50%);
  border-radius: 10px;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.testimonial-container {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  margin-right: 25px;
  margin-left: 25px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 10px;
}

.testimonial img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

.user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.user-rating span {
  color: #FFC619;
}

.user-rating {
  font-size: 24px;
  margin: 10px 0;
}

.user-opinion {
  margin: 10px 0;
  text-align: center;
}

.user-name {
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
  color: #DF040C;
}

.slick-prev,
.slick-next {
  width: 45px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-next:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-left: 2px solid rgb(11, 11, 11);
  border-top: 2px solid rgb(11, 11, 11);
  transform: rotate(130deg);
}

.slick-prev:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-left: 2px solid rgb(11, 11, 11);
  border-top: 2px solid rgb(11, 11, 11);
  transform: rotate(-45deg);
}



.i-right {
  flex: 1;
  position: relative;
}

.i-right>* {
  position: absolute;
  z-index: 1;
}

.i-right>:nth-child(1) {
  transform: scale(0.69);
  left: -15%;
  top: -9%;
}

.i-right>:nth-child(2) {
  top: -4.6rem;
  transform: scale(0.67);
  left: -3rem;
}

.i-right>:nth-child(3) {
  transform: scale(1.4);
  left: 28%;
}



.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(212px);
  z-index: -9;
  top: 18%;
  left: 56%;
  filter: blur(72px);
}

/* Common styles dark mode */

/* Define a keyframe animation for the professional effect */
@keyframes darkprofessionalEffect {
  0% {
    color: yellow;
    /* Start with black color */
  }

  50% {
    color: #eeff41;
  }

  100% {
    color: yellow;
    /* Go back to black color at the end of the animation */
  }
}

/* Apply the animation to the .resaltar class */
.dark-mode-content .resaltar {
  animation: darkprofessionalEffect 2s infinite;
  /* Set the animation duration and repeat infinitely */

}


.dark-mode-content h1 {
  color: #fcfdfd;
}

.dark-mode-content .resaltar {
  color: #c6cdd2;
}



.dark-mode-content p {
  color: #c0bfba;
}

.dark-mode-content .user-opinion {
  color: #000000;
}

.dark-mode-content .user-name {
  color: #DF040C;
}

.dark-mode-content .arrow {
  color: #f3f3f4;
}

/* Banner Gracias  */
.responsive-banner {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  max-width: 100%;
  min-width: 320px;
  position: relative;
  min-height: 300px;
  max-height: 450px;
  border-radius: 10px;
  overflow: hidden;
  /* background-image: linear-gradient(to bottom right, #D45BA1, #A784E0); */
  background-image: linear-gradient(to bottom right, #f11826, #a4071d);

  background-repeat: no-repeat;
  text-align: left;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


.container-envelope {
  max-width: calc(100%);
  padding: 15px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
  max-height: 450px;
}

.col-xs-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  margin-left: 25rem;
  flex: 0 0 100%;
  max-width: 100%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

@media (min-width: 650px) {
  .col-xs-12 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .container-envelope {
    max-width: calc(100% - 200px);
  }
}


.more-link {
  background-color: rgba(255, 255, 255, 0.35);
  display: inline-block;
  padding: 12px 18px;
  color: #fff;
  text-decoration: none;
  font: 500 15px 'Work Sans', Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
  border: none !important;
  position: relative;
  border-radius: 30px;
  text-transform: uppercase;
  -webkit-transition: .1s all ease-in-out;
  -moz-transition: .1s all ease-in-out;
  -o-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}

.more-link:hover {
  background-color: rgba(255, 255, 255, 0.50);
}

svg,
.img {
  fill: rgba(0, 0, 0, 0.1);
  position: absolute;
}

.imagen {
  clip-path: circle(50% at 50% 50%);
  max-width: 30%;
}

.cirle-a {
  bottom: -80px;
  left: -80px;
}

.cirle-b {
  top: -30px;
  right: 70%;
}

.cirle-c {
  top: -330px;
  right: -300px;
}

.cirle-d {
  top: 195px;
  right: 145px;
}

.img {
  top: 0;
  right: 0;
}


.link-container {
  text-align: center;
}

.link-container a.more-link {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  background-color: #90b0bf;
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 1px;
}

/*NUESTRAS EXPERIENCIAS*/
img {
  background-size: cover;
  object-fit: cover;
}




img#logo {
  width: 200px;
  /* Ajusta el tamaño del logotipo según sea necesario */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Efecto de animación */
@keyframes fadeInOut {

  0%,
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }

  50% {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner-enter-active,
.banner-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}

.banner-enter-from,
.banner-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}