.title {
  font-family: "Nike Futura", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  color: #00233f;
  font-stretch: 100%;

  /* Neumorphic effect */
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  /* Optional: Add some rounded corners to soften the effect */
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  /* Optional: Add some padding to create a 3D look */

}

/* Define a keyframe animation for the professional effect */
@keyframes professionalEffect {
  0% {
    color: #f02a22;
    /* Start with black color */
  }

  50% {
    color: #d50000;
    /* Change to dark blue (#1a1a1a) color at 50% of the animation */
  }

  100% {
    color: #f02a22;
    /* Go back to black color at the end of the animation */
  }
}

/* Apply the animation to the .resaltar class */
.text-gratuito {
  font-weight: 900;
  animation: professionalEffect 2s infinite;
  /* Set the animation duration and repeat infinitely */

}

.resaltar {
  color: #fc9a13;
}

u{
  color: #0092e4;
}
a {
  font-family: "HelveticaNeue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  text-decoration: none solid rgb(255, 255, 255);
  color: #0092e4;
  cursor: "pointer";
  font-stretch: 100%;
}



.input-group {
  margin-bottom: 20px;
}

.header-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 250px;
  padding: 10px;
}

.header-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(50%);
  border-radius: 10px;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.testimonial-container {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  margin-right: 25px;
  margin-left: 25px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 10px;
}

.testimonial img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

.user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.user-rating span {
  color: rgb(221, 182, 44);
}

.user-rating {
  font-size: 24px;
  margin: 10px 0;
}

.user-opinion {
  margin: 10px 0;
  text-align: center;
}

.user-name {
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

.slick-prev,
.slick-next {
  width: 45px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-next:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-left: 2px solid rgb(11, 11, 11);
  border-top: 2px solid rgb(11, 11, 11);
  transform: rotate(130deg);
}

.slick-prev:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-left: 2px solid rgb(11, 11, 11);
  border-top: 2px solid rgb(11, 11, 11);
  transform: rotate(-45deg);
}




/* Common styles dark mode */

/* Define a keyframe animation for the professional effect */
@keyframes darkprofessionalEffect {
  0% {
    color: yellow;
    /* Start with black color */
  }

  50% {
    color: #eeff41;
  }

  100% {
    color: yellow;
    /* Go back to black color at the end of the animation */
  }
}

/* Apply the animation to the .resaltar class */
.dark-mode-content .resaltar {
  animation: darkprofessionalEffect 2s infinite;
  /* Set the animation duration and repeat infinitely */

}


.dark-mode-content h1 {
  color: #fcfdfd;
}

.dark-mode-content .resaltar {
  color: #c6cdd2;
}



.dark-mode-content p {
  color: #c0bfba;
}

.dark-mode-content .user-opinion {
  color: #000000;
}

.dark-mode-content .user-name {
  color: #DF040C;
}

.dark-mode-content .arrow {
  color: #f3f3f4;
}