.floatingdiv{
    justify-content: space-around;
    display: flex;
    background: var(--white-color);
    box-shadow: var(--boxShadow);
    border-radius: 11.27px;
    align-items: center;
    padding: 7px 9px 7px 9px;
    height: 91px;
    width: 182.48px;
}

.floatingdiv > img{
    max-width: 30px;
    
}

.floatingdiv > span{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
}