.floatingdiv {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    background: var(--white-color);
    box-shadow: var(--boxShadow);
    border-radius: 11.27px;
    align-items: center;
    padding: 7px 9px 7px 9px;
    height: 91px;
    width: 182.48px;
}

.icon {
    margin-right: 20px; /* Espacio entre el icono y el texto */
  }

.icon > img {
    max-width: 40px;
}

.floatingdiv > span {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.icon-with-text {
    display: flex;
    align-items: center;
}

.centered-text {
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: var(--enlace-color);
}