#root {
  max-width: 1280px; 
  margin: 0 auto;
  padding: 0%;
  /* text-align: center; */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h2 {
  font-family: "Open Sans", sans-serif;
  color: #484848;
  font-weight: bold;
  font-size: 22px; /* Slightly increase the font size */
  text-shadow: 1px 1px #e0e0e0;
}

h2 > span {
  color: #484848; /* Black color for the span text */
 /* text-shadow: 1px 2px 1px yellow;  Propiedad para agregar sombra amarilla */
}



