#root {
  max-width: auto;
  margin: 0 auto;
  padding: 0%;
}

/* Nuestras variables */
:root {
  /* Colores predeterminados para el modo normal */
  --titulo-color: #00233f;
  --resaltar-color: #fc9a13;
  --parrafo-color: #000000;
  --background-color: #f6f9fa;
  --subtitulo-color: #484848;
  --enlace-color: #007bff;
  --estrella-color: #FFC619;
  --white-color: #ffffff;
  --black-color: #000000;
  --red-color: #ad1a24;
  --naranja-color: #fc9a13;
  --azulmarino-color: #00233f;
  /* Testimonios */
  --username-color: #DF040C;
  --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  /* Colores predeterminados para el modo oscuro */
  --darkbackground-color: #111b22;

}

body {
  background-color: var(--background-color);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h2 {
  font-family: "HelveticaNeue", sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  font-stretch: 100%;
  font-style: normal;
  text-decoration: none solid rgb(0, 0, 0);
  text-shadow: 1px 1px #e0e0e0;
}

h2 > span {
  color: var(--subtitulo-color);
}

p {
  font-family: 'HelveticaNeue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px; 
  line-height: 1.6; 
  text-align: justify;
  color: var(--parrafo-color);
}

img{
  background-size: cover;
  object-fit: cover;
}


/* Estilos para el modo oscuro del body*/
.dark-mode-body {
  background-color: var(--darkbackground-color);
}

