#root {
  max-width: auto;
  margin: 0 auto;
  padding: 0%;
  /* text-align: center; */
}

/* styles.css or your global CSS file */
:root {
  --primary-color: #007bff;
  /* Define the default color for light mode */
  --background-color: #f8f9fa;
  /* Define the default background color for light mode */
}

body {
  background-color: #f7f8f8;
}

/* Add styles for the dark-mode body */
.dark-mode-body {
  background-color: #111b22;
  /* You can set your desired background color for dark mode here */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h2 {
  font-family: "Open Sans", sans-serif;
  color: #484848;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  text-shadow: 1px 1px #e0e0e0;
}

h2 > span {
  color: #484848;
  /* Black color for the span text */
  /* text-shadow: 1px 2px 1px yellow;  Propiedad para agregar sombra amarilla */
}
