/* Slider.css */
.slider-wrapper {
    max-width: 70rem;
    max-height: 80vh;
    background-size: cover;
    margin: 0 auto;
  }
  
  /* Estilos opcionales para las leyendas (captions) */
  .carousel .slide .legend {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  